<div class="mini-cart" fxLayout="column">
  <div *ngFor="let cartItem of cartItems">
    <mca-mini-cart-item [cart-item]="cartItem"></mca-mini-cart-item>
  </div>
  <div fxFlexAlign="end">
    <mca-price class="mt:3@xs" [price]="cartService.price$ | async" [font-size]="'x-large'" [label]="'Total:'"></mca-price>  
  </div>
</div>
