<div *ngIf="hasDiscount() && discountLabel" class="discount-label">Applied Discount Code: {{discountLabel}}</div>
<div class="{{textClass}}" [ngStyle]="{'color': textColor}"><ng-container *ngIf="label">{{label}}:</ng-container>
<span *ngIf="hasDiscount()" class="pre-discount-price">${{price}}</span> ${{getTotal()}}</div>
