<div fxLayout="row" [fxLayoutAlign]="showLikes() ? 'space-between' : 'end'">
  <div fxLayout="row" *ngIf="showLikes()">
    <img src="assets/icons/fire-icon.png" width="15px" height="22px" alt="">
    <span class="ml:2@xs like-number">({{likeNum}}{{likeNum > 9 ? '+' : ''}})</span>
  </div>
  <fa-icon *ngIf="!liked else fullHeart" class="heart-icon" 
    [icon]="faEmptyHeart" (click)="loading ? '' : like()"></fa-icon>
</div>
<ng-template #fullHeart>
  <fa-icon class="heart-icon full-heart-icon" [icon]="faHeart" [@fadeIn]></fa-icon>
</ng-template>
