.all-comments {
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      margin-bottom: 40px;
      .comment-date {
        margin-top: 10px;
        margin-bottom: 15px;
      }
      .comment-img {
        max-width: 10%;
        padding: 19px 22px 0 0;
        cursor: pointer;
      }
    }
  }
}
