<div class="all-comments">
  <ng-container *ngFor="let comment of allUserComments">
    <ul>
      <li>
        <div>
          <div fxLayout="row">
            <fa-icon [icon]="faComments" class="mr:2@sm"></fa-icon>
            <div style="font-weight: 500; line-height: 2rem;">{{ comment.name }}</div>
          </div>
          <mca-rating [userStars]="comment.stars" [disabled]="true"></mca-rating>
          <!-- <div class="comment-date">{{ comment.createdAt | date:'fullDate' }}</div> -->
          <div><i>{{ comment.comment }}</i></div>
          <ng-container *ngFor="let commentImg of comment?.images">
            <img src="{{ getCommentIcon(commentImg.url) }}" class="comment-img" (click)="openCommentImgModal(commentImg)"/>
          </ng-container>
        </div>
      </li>
    </ul>
  </ng-container>
</div>
