.empty-cart-container {
  p {
    font-size: 24px;
    color: #2C2D33;
    margin-bottom: 80px;
  }
  .return-to-shop {
    font-size: 16px;
    color: #FFFFFF;
    width: 272px;
    height: 48px;
    background: #955A89;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-style: normal;
  }
  p,
  .return-to-shop {
    font-family: "Roboto";
    font-weight: normal;
  }
}
