<h2>Contact Us</h2>
<form [formGroup]="formGroup" #f="ngForm" (submit)="f.valid ? submit(f) : ''" >
  <div fxLayout="row" >
    <mat-form-field fxFlex="35%" fxFlex.lt-md="80%">
      <mat-label>Full Name</mat-label>
      <input placeholder="Full Name" matInput formControlName="name">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="35%" fxFlex.lt-md="80%">
      <mat-label>eMail</mat-label>
      <input placeholder="eMail" matInput formControlName="email">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="35%" fxFlex.lt-md="80%">
      <mat-label>Order # (Optional)</mat-label>
      <input placeholder="Order #" matInput formControlName="order_id">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="35%" fxFlex.lt-md="80%">
      <mat-label>Subject</mat-label>
      <input placeholder="Subject" matInput formControlName="subject">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="50%" fxFlex.lt-md="85%">
      <mat-label>Message Body</mat-label>
      <textarea matInput formControlName="body" rows="10" ></textarea>
    </mat-form-field>
  </div>
  <button mat-button class="submit-btn" type="submit" [disabled]="loading">Submit</button>
  <p *ngIf="error" style="color: red;">{{error}}</p>
  <p class="x-large-font" *ngIf="createdRequest" style="color: green;">Request #{{createdRequest['short-id']}} Received</p>
</form>
