<div class="add-to-cart-quantity" fxLayout="row" fxLayoutAlign="start center">
  <button fxLayoutAlign="center center"  mat-icon-button  class="minus" (click)="subtractFromCart.emit()" [disabled]="disabled">
    <fa-icon [icon]="faMinus" ></fa-icon>
  </button>
  <div class="quantity">{{ quantity }}</div>
  <button fxLayoutAlign="center center" mat-icon-button  class="plus" (click)="addToCart.emit()" [disabled]="disabled">
    <fa-icon [icon]="faPlus" ></fa-icon>
  </button>
</div>
