<div class="product-container">
  <h1 id="product-title">{{product?.title}}</h1>
  <mca-row-layout>
    <section id="gallery-images" left>
      <mca-gallery-images [images]="product.images_json" 
        [template]="form.template ?? product.templates[0]"
        [alt-text]="product.title"></mca-gallery-images>
    </section>
    <section id="product-form" right>
      <mca-product-form #form></mca-product-form>
    </section>
  </mca-row-layout>
  <mca-row-layout>
    <section id="product-description" left>
      <h3 fxLayoutAlign="center">Description</h3>
      <p>{{product?.description}}</p>
    </section>
    <section id="product-form" right>
      <mca-product-tags  [tags]="product.tags"></mca-product-tags>
    </section>
  </mca-row-layout>
  <section id="user-comments">
    <mca-user-comments [productId]="product.id"></mca-user-comments>
  </section>
  <section id="related-products">
    <mca-related-products  [product]="product"></mca-related-products>
  </section>
  <section id="comment-form">
    <mca-comment-form [productId]="product.id"></mca-comment-form>
  </section>
</div>
