<div class="related-products">
  <h2>Related Products</h2>
  <mca-product-row [products]="relatedProducts?.slice(0, PRODUCT_NUM/2)"></mca-product-row>
  <mca-product-row [products]="relatedProducts?.slice(PRODUCT_NUM/2, PRODUCT_NUM)"></mca-product-row>
</div>
