@import "src/styles/header";
@import "src/styles/search_vars";

a {
  color: unset;
  text-decoration: none;
}

mca-search{
  display: block;
  width: $search_max_width;
  margin-right: 30px;
}

mca-cart-icon{
  display: block;
  align-self: center;
}

mca-header-icons{
  align-self: center;
}
