<div class="header-container header">
  <div class="header-top container auto" fxLayout="row" fxLayoutAlign="space-between">
    <div class="header-top-left">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"><h1 class="header-text">MULTI CANVAS ART</h1></a>
    </div>
    <div class="header-top-right" fxLayout="row" fxLayoutAlign="space-between">
      <mca-search></mca-search>
      <mca-header-icons></mca-header-icons>
    </div>
  </div>
</div>
