<ng-template #details>
    <div *ngIf="modelItem">
        <div>
            <p>{{ modelItem.description }}</p>
        </div>
        <div>
            <mca-price [price]="price"></mca-price>
        </div>
    </div>
</ng-template>

<ng-template #spinner>
    <fa-icon [icon]="faSpinner" [spin]="true" [size]="'2x'"></fa-icon>
</ng-template>

<ng-container *ngTemplateOutlet="loading ? spinner : details"></ng-container>
