<div *ngIf="!addedToCart; else checkoutButton" class="add-to-cart" fxLayout="row" fxLayoutAlign="start center">
  <button mat-button class="btn btn-primary large-font mr:2@sm" (click)="addProductToCart()" [disabled]="!modelId || pricingService.loading">Add to cart</button>
  <!-- <mca-cart-quantity *ngIf="productOption" [quantity]="productQuantity" [disabled]="loading$ | async" (add-to-cart)="addToQuantity()" (subtract-from-cart)="subtractFromQuantity()"></mca-cart-quantity> -->
</div>

<ng-template #checkoutButton>
  <mca-checkout-button></mca-checkout-button>
</ng-template>
