.add-to-cart {
  margin: 42px 0 45px 0;
  .add-to-cart-quantity {
    .minus,
    .plus {
      background: rgba(44, 45, 51, 0.05);
      border-radius: 25px;
      width: 32px;
      height: 32px;
      position: relative;

      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
      }
    }
    .quantity {
      width: 27px;
      text-align: center;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #2C2D33;
    }
  }

}

.minus,
.plus {
  border: none;
  cursor: pointer;
}

.minus.mat-button-disabled,
.plus.mat-button-disabled {
  color: gray;
}


