<table mat-table [dataSource]="orders" class="mat-elevation-z8 etsy-product-table">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef class="product-header-checbox">
      <input type="checkbox" [(ngModel)]="isAllChecked" />
    </th>
    <td mat-cell *matCellDef="let element" class="product-item-checbox">
      <input type="checkbox" [ngModel]="isAllChecked" />
    </td>

  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">ID</div>
    </th>
    <td mat-cell *matCellDef="let element">
      #{{element['short-id']}}
    </td>

  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Name</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">{{element['address']['first-name']}} {{element['address']['last-name']}}</div>
    </td>

  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Cost</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">{{element['total_cost']}}</div>
    </td>

  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Status</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">
      <span [ngClass]="{'alert': true, 'alert-success': element['status']=='processing'}">
        {{element['status']}}
      </span>
    </div>
    </td>

  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Date</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">{{element['createdAt'] | date}}</div>
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mb:3@sm"></tr>
</table>
