<header fxLayout="row wrap" fxLayoutAlign="center">
  <embed  src="assets/icons/mca_logo.svg" alt="" width="250px" height="300px">
</header>

<p class="lead">Who are we?</p>
<p>
  Multi Canvas Art has been established to bring you wall art of your favorite superheroes. From Marvel’s
  Iron Man to DC’s Superman to Game of Thrones Tyrion Lannister. This platform also presents a vast
  depiction of nature, religion, and several other artistic creations that will bring plenty of joy to your
  eyes. You can grab an art of your favorite NFL team, animal, DC/Marvel comics super heroes, and many
  more.
</p>

<p class="lead">How to use Multi Canvas Art?</p>
<p>
  The website is easy to use. All you need to do is search for you desired canvas art, choose the size and
  framing you want, order, and the canvas is on its way! We have sizes from single panel to five panel wall
  arts, and you can choose your own wall art and make your living room, bedroom or even your kitchen
  look gorgeous and get the positive vibes flowing in instantly.
</p>

<p class="lead">About our service:</p>
<p>
  Ever since 2017, Multi Canvas Art has provided premium canvas wall art to all corners of the globe. We
  provide shipping for a very reasonable cost and most importantly make sure your product is well taken
  care of. The package will be wrapped gently to ensure the quality and standards of canvas arts sent to
  your doorstep. Our reviews speak for our services provided. We’ve been maintaining a strong customer
  base over the past couple of years and it keeps growing day by day due to the increased demand of
  canvas arts.
</p>

<p class="lead">So many options!</p>
<p>
  With over 2000 designs, you can purchase Marvel, DC, Anime art and many more! We are here to serve
  your desires, these framed arts are represented in way to fulfill your fantasies as well, Multi Canvas Art
  majorly consists a variety of DC and Marvel superheroes, if you are a comic book enthusiast these
  superhero canvas arts are your final Destination, the kids are going to love it!!
</p>

<p class="lead">Your satisfaction is important:</p>
<p>
  It's important for us to provide for everyone's flavor. You can find in our catalog canvas art of nature,
  wild life, and urban art. We understand and the respect the fact that you all have different desires when
  it comes to owning a wall art, some people are religious, some into sports, superheroes and so on. These
  framed arts are differentiated in a way which is easily navigable to identify what you exactly need.
</p>

<p class="lead">Its never been easier:</p>
<p>
  Decorating your wall has never been easier with Multi Canvas Art’s amazing framed art collection,
  whether it’s for the children’s room or the living room. These wall arts can also be used as decorations
  during festive seasons, family functions, in door parties and even to make yourself feel awesome, after
  all this is done to improve your quality of life, and our framed arts would be a great factor for that.
</p>

<p class="lead">The perfect gift!</p>
<p>
  Don't know what to get for a loved one? A framed wall canvas art is an amazing gift! Wall arts are also
  great housing warming gifts, wedding gifts, and an overall gift that would bring a smile on the face of the
  receiver. Multi Canvas Art always prioritizes the needs of the customers. This is one destination that will
  help forget all your problems, relieve your stress and bring joy just by a single stare.
</p>

<p class="lead">Have a question for us?</p>
<p>
  Our customer service is happy to answer any questions you have. Couldn't find the design you wanted?
  Want to do custom wall art? Just contact us and we’ll be happy to create your special design! Keep
  trusting our services as you always have, we are here to make you feel awesome.
</p>

