<div fxLayout="row">
  <mat-form-field fxFlex="20%" fxFlex.xs="50%" class="mr:2@xs">
    <mat-label>Coupon Code</mat-label>
    <input [formControl]="formControl" placeholder="Coupon Code" matInput>
  </mat-form-field>
  <button mat-button class="btn btn-sm btn-primary mr:2@xs" [disabled]="!formControl.value 
    || formControl.disabled"
     (click)="submitCode(formControl.value)">Apply</button>
  <div class="success" *ngIf="discountCode.valid">Success!</div>
</div>
