<div id="paypal-button" [ngClass]="{'disabled-overlay': !_valid || disabled}"></div>
<ng-container *ngIf="loading">
  <span>
    <fa-icon  [icon]="faSpinner" [spin]="true" [size]="'2x'"></fa-icon>
    <div class="mt:2@sm">Loading Secure Payment</div>
  </span>
</ng-container>
