<h1 class="header"><i>Daily Mega Sale</i></h1>
<mca-catalog-page [row-size]="1" [products]="dailySale"></mca-catalog-page>
<h1 class="header"><i>Weekly Sale</i></h1>
<mca-catalog-page [row-size]="4" [products]="weeklySale"></mca-catalog-page>
