<div fxLayout="row">
  <div style="margin-right: 10px;">
    <a (click)="openImageModal()" style="cursor: pointer;">
      <img src="{{thumbnail}}" alt="" height="75" >
    </a>
  </div >
  <div style="align-self: center">
    <div class="x-large-font" style="margin-bottom: 2px;">
      {{title}}
    </div>
    <div>
      {{options}}
    </div>
  </div>
</div>
