<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="'side'" [opened]="true" class="admin-sidenav">
      <mat-action-list>
              <mat-list-item [routerLink]="['/admin',{outlets: { admin: 'orders' }}]" routerLinkActive>Orders</mat-list-item>
              <mat-list-item [routerLink]="['/admin',{outlets: { admin: 'etsy' }}]">Etsy</mat-list-item>
              <mat-list-item [routerLink]="['/admin',{outlets: { admin: 'sales' }}]">Etsy</mat-list-item>
      </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet name='admin'></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
