#mca-logo-svg {
  width: 10vh;
  height: 10vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto auto;
  top: calc(50% - 100px);
}
#mca-logo-text {
  animation-name: text;
  animation-duration: 800ms;
}
#center-panel {
  animation-name: center;
  animation-duration: 1s;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#L1 {
  animation-name: L1;
  animation-duration: 1s;
  animation-delay: 100ms;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#L2 {
  animation-name: L2;
  animation-duration: 1s;
  animation-delay: 160ms;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#R1 {
  animation-name: R1;
  animation-duration: 1s;
  animation-delay: 100ms;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
#R2 {
  animation-name: R1;
  animation-duration: 1s;
  animation-delay: 160ms;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}
/* keyframes */
@keyframes text {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes center {
  0% {transform: scale(0.20);
      opacity: 0;}
  40% {transform: scale(1);
      opacity: 0.9;}
  50% {opacity: 1;}
}
@keyframes L1 {
  0% { transform: scale(0.20);
      opacity: 0;}
  40% {transform: scale(1);
      opacity: 0.9;}
  50% {opacity: 1;}
}
@keyframes R1 {
  0% { transform: scale(0.20);
      opacity: 0;}
  40% {transform: scale(1);
      opacity: 0.9;}
  50% {opacity: 1;}
}
@keyframes R2 {
  0% { transform: scale(0.20);
      opacity: 0;}
  40% {transform: scale(1);
      opacity: 0.9;}
  50% {opacity: 1;}
}
@keyframes L2 {
  0% { transform: scale(0.20);
      opacity: 0;}
  40% {transform: scale(1);
      opacity: 0.9;}
  50% {opacity: 1;}
}
