<div fxLayout="row" fxLayoutAlign="center center" style="height: 80vh;">
  <svg id="mca-logo-svg" width="250px" height="300px" version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 896 642" [ngStyle]="{

  }" xml:space="preserve">
    <style type="text/css">
    .st0{fill:#3FDA9B;}
    .st1{fill:none;stroke:#3FDA9B;stroke-width:15.3897;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#3FDA9B;stroke-width:16.1592;stroke-miterlimit:10;}
    </style>
    <g id="mca-logo-text">
    <path class="st0" d="M56.9,557h13c1.3,0,2,0.7,2,2v70.6c0,1.3-0.7,2-2,2h-7.2c-1.3,0-2-0.7-2-2V571h-0.5l-15.1,42.5
      c-0.5,1.2-1.3,1.9-2.6,1.9h-7.4c-1.2,0-2-0.6-2.4-1.9l-15.4-42.6h-0.5v58.7c0,0.8-0.1,1.3-0.4,1.6c-0.3,0.3-0.8,0.4-1.6,0.4H7.8
      c-1.3,0-2-0.7-2-2V559c0-1.3,0.7-2,2-2h13c0.9,0,1.5,0.4,1.9,1.3l15.9,44.8h0.6l16-44.8C55.3,557.4,55.9,557,56.9,557z"/>
    <path class="st0" d="M127.7,557h7.3c1.4,0,2.1,0.6,2.1,1.9v54.8c0,5.6-1.6,10.1-4.8,13.2c-3.2,3.2-7.6,4.8-13.3,4.8h-12.9
      c-5.6,0-10.1-1.6-13.2-4.8c-3.2-3.2-4.8-7.6-4.8-13.2V559c0-1.3,0.7-2,2-2h7.3c1.3,0,2,0.7,2,2v54.2c0,5.7,2.8,8.6,8.4,8.6h9.5
      c5.6,0,8.5-2.9,8.5-8.6V559C125.8,557.7,126.4,557,127.7,557z"/>
    <path class="st0" d="M192.9,631.6h-37.6c-1.3,0-2-0.7-2-2V559c0-1.3,0.7-2,2-2h7.3c1.3,0,2,0.7,2,2v61.4c0,0.8,0.5,1.2,1.4,1.2
      h26.9c1.3,0,2,0.7,2,2.1v6C194.9,630.9,194.3,631.6,192.9,631.6z"/>
    <path class="st0" d="M226,631.6h-7.3c-1.4,0-2.1-0.7-2.1-2V568c0-0.8-0.4-1.2-1.2-1.2h-14.6c-1.4,0-2.1-0.7-2.1-2V559
      c0-1.3,0.7-2,2.1-2h43c1.4,0,2.1,0.7,2.1,2v5.9c0,1.3-0.7,2-2.1,2h-14.6c-0.9,0-1.3,0.4-1.3,1.2v61.6
      C228,630.9,227.3,631.6,226,631.6z"/>
    <path class="st0" d="M267.8,559v70.6c0,1.3-0.7,2-2,2h-7.3c-1.3,0-2-0.7-2-2V559c0-1.3,0.7-2,2-2h7.3
      C267.1,557,267.8,557.7,267.8,559z"/>
    <path class="st0" d="M343.2,631.6h-13.5c-5.7,0-10.2-1.6-13.3-4.8c-3.1-3.2-4.7-7.6-4.7-13.2V575c0-5.7,1.6-10.1,4.7-13.3
      c3.1-3.1,7.6-4.7,13.3-4.7h13.5c5.6,0,10.1,1.6,13.2,4.7c3.2,3.1,4.8,7.6,4.8,13.3v5.6c0,1.4-0.7,2.1-2.1,2.1h-7.3
      c-1.3,0-2-0.7-2-2.1v-5.1c0-5.7-2.8-8.6-8.4-8.6h-10.1c-5.6,0-8.4,2.9-8.4,8.6v37.7c0,5.7,2.8,8.6,8.4,8.6h10.1
      c5.6,0,8.4-2.9,8.4-8.6V608c0-1.4,0.7-2.1,2-2.1h7.3c1.4,0,2.1,0.7,2.1,2.1v5.6c0,5.6-1.6,10.1-4.8,13.2
      C353.2,630,348.8,631.6,343.2,631.6z"/>
    <path class="st0" d="M379.6,631.6h-8.4c-1.1,0-1.5-0.7-1.2-2l20.2-70.6c0.4-1.3,1.3-2,2.8-2h11.6c1.5,0,2.5,0.7,2.8,2l20.2,70.6
      c0.3,1.3-0.1,2-1.3,2h-8.2c-0.7,0-1.2-0.1-1.5-0.4c-0.3-0.3-0.5-0.8-0.6-1.6l-4.4-15.1h-25.5l-4.4,15.1
      C381.4,630.9,380.7,631.6,379.6,631.6z M398.6,568.1l-10.2,37.1h21l-10.3-37.1H398.6z"/>
    <path class="st0" d="M448.2,631.6h-7.2c-1.3,0-2-0.7-2-2V559c0-1.3,0.7-2,2-2h6.5c1.2,0,2.1,0.4,2.6,1.3l28.1,50.5h0.5V559
      c0-1.3,0.7-2,2-2h7.2c1.3,0,2,0.7,2,2v70.6c0,1.3-0.7,2-2,2h-6.3c-1.2,0-2.2-0.6-3-1.9l-27.8-49.9h-0.5v49.8
      C450.2,630.9,449.6,631.6,448.2,631.6z"/>
    <path class="st0" d="M533.9,631.6h-11.5c-1.3,0-2.1-0.7-2.4-2l-19.3-70.4c-0.5-1.5,0.1-2.2,1.7-2.2h8.2c1.2,0,2,0.7,2.2,2l15,60.6
      h0.5l14.8-60.6c0.3-1.3,1.1-2,2.3-2h8.1c1.6,0,2.2,0.7,1.9,2.2l-19.4,70.4C535.7,630.9,535,631.6,533.9,631.6z"/>
    <path class="st0" d="M570.3,631.6h-8.4c-1.1,0-1.5-0.7-1.2-2l20.2-70.6c0.4-1.3,1.3-2,2.8-2h11.6c1.5,0,2.5,0.7,2.8,2l20.2,70.6
      c0.3,1.3-0.1,2-1.3,2h-8.2c-0.7,0-1.2-0.1-1.5-0.4c-0.3-0.3-0.5-0.8-0.6-1.6l-4.4-15.1h-25.5l-4.4,15.1
      C572.1,630.9,571.4,631.6,570.3,631.6z M589.3,568.1l-10.2,37.1h21l-10.3-37.1H589.3z"/>
    <path class="st0" d="M628.4,613.5v-3c0-1.3,0.7-2,2-2h7.4c1.3,0,2,0.7,2,2v2.1c0,3.2,0.7,5.6,2.1,7c1.4,1.4,3.8,2.1,7.1,2.1h8
      c3.3,0,5.7-0.8,7.2-2.3c1.5-1.5,2.2-4,2.2-7.4v-2.7c0-2.5-0.9-4.4-2.8-5.9c-1.9-1.4-4.2-2.4-7-2.8c-2.8-0.4-5.8-1-9.2-1.8
      c-3.3-0.8-6.4-1.7-9.2-2.7c-2.8-1-5.1-2.9-7-5.7c-1.9-2.8-2.8-6.3-2.8-10.7v-4.9c0-5.6,1.6-10.1,4.8-13.3c3.2-3.2,7.6-4.8,13.3-4.8
      h12.3c5.7,0,10.2,1.6,13.4,4.8c3.2,3.2,4.8,7.6,4.8,13.3v2.6c0,1.3-0.7,2-2,2h-7.4c-1.3,0-2-0.7-2-2v-1.5c0-3.3-0.7-5.7-2.1-7.1
      c-1.4-1.4-3.8-2.1-7.1-2.1H649c-3.3,0-5.7,0.8-7.1,2.3c-1.4,1.5-2.1,4.1-2.1,7.7v3.6c0,3.5,2.5,5.8,7.5,7.1c2.2,0.5,4.7,1,7.4,1.4
      c2.7,0.4,5.4,1,8.1,1.7c2.7,0.8,5.2,1.8,7.4,3.1c2.2,1.3,4.1,3.2,5.5,5.8c1.4,2.6,2.1,5.7,2.1,9.5v4.5c0,5.6-1.6,10.1-4.8,13.3
      c-3.2,3.2-7.6,4.8-13.3,4.8h-13c-5.6,0-10.1-1.6-13.3-4.8C630,623.6,628.4,619.1,628.4,613.5z"/>
    <path class="st0" d="M725,631.6h-8.4c-1.1,0-1.5-0.7-1.2-2l20.2-70.6c0.4-1.3,1.3-2,2.8-2h11.6c1.5,0,2.5,0.7,2.8,2l20.2,70.6
      c0.3,1.3-0.1,2-1.3,2h-8.2c-0.7,0-1.2-0.1-1.5-0.4c-0.3-0.3-0.5-0.8-0.6-1.6l-4.4-15.1h-25.5l-4.4,15.1
      C726.8,630.9,726.1,631.6,725,631.6z M744,568.1l-10.2,37.1h21l-10.3-37.1H744z"/>
    <path class="st0" d="M793.8,631.6h-7.3c-1.3,0-2-0.7-2-2V559c0-1.3,0.7-2,2-2h27.1c5.6,0,10.1,1.6,13.3,4.8
      c3.2,3.2,4.8,7.6,4.8,13.3v9.7c0,8.9-3.7,14.5-11,16.8v0.5l12.9,27.1c0.8,1.5,0.3,2.3-1.5,2.3h-7.2c-1.9,0-3.1-0.7-3.6-2
      l-12.4-26.7h-11.7c-0.9,0-1.4,0.4-1.4,1.2v25.5C795.8,630.9,795.1,631.6,793.8,631.6z M797.1,593.7h14.7c5.7,0,8.6-2.8,8.6-8.5
      v-9.7c0-5.7-2.9-8.6-8.6-8.6h-14.7c-0.9,0-1.3,0.4-1.3,1.2v24.5C795.8,593.3,796.2,593.7,797.1,593.7z"/>
    <path class="st0" d="M867.8,631.6h-7.3c-1.4,0-2.1-0.7-2.1-2V568c0-0.8-0.4-1.2-1.2-1.2h-14.6c-1.4,0-2.1-0.7-2.1-2V559
      c0-1.3,0.7-2,2.1-2h43c1.4,0,2.1,0.7,2.1,2v5.9c0,1.3-0.7,2-2.1,2h-14.6c-0.9,0-1.3,0.4-1.3,1.2v61.6
      C869.8,630.9,869.1,631.6,867.8,631.6z"/>
    </g>
    <g id="center-panel">
    <path class="st0" d="M521.6,21.4v433.2H367.7V21.4H521.6 M537,6H352.3v464H537V6L537,6z"/>
    </g>
    <polyline id="L1" class="st1" points="337.7,67.9 261.5,67.9 261.5,421.1 337.7,421.1 "/>
    <polyline id="L2" class="st1" points="240.3,123.7 171.1,123.7 171.1,380 240.3,380 "/>
    <polyline id="R1" class="st1" points="552.3,67.9 628.5,67.9 628.5,421.1 552.3,421.1 "/>
    <polyline id="R2" class="st2" points="649.7,123.7 718.9,123.7 718.9,380 649.7,380 "/>
  </svg>
</div>
