@import "./header_vars.scss";

.header-text{
  font-weight: 400;
  font-size: $header_text_size;
  padding: $header_padding_top 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.mobile-header-text{
  font-weight: 400;
  font-size: $mobile_header_text_size;
  padding: $header_padding_top 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.mobile-header{

}

.header {
  padding: 0 $header_padding_right 0 $header_padding_left;
  background: $header_background_color;
  color: white;
}
