
$header_margin: 0.67rem;
$header_padding_top : 0.67rem;
$header_text_size: 2rem;
$mobile_header_text_size: 1.3rem;
$header_height: $header_text_size + 2*$header_padding_top;
$mobile_header_height: $mobile_header_text_size + 2*$header_padding_top;
$header_background_color: #2C2D33;
$header_text_color: white;
$header_padding_left: 30px;
$header_padding_right: $header_padding_left;
$footer_height: $mobile_header_height + 0.4rem;
