.tag-item {
  border-radius: 16px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  margin-right: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
  color: #2C2D33;
}

.tag-item:hover,
.tag-item:focus,
.tag-item:active {
  background-color: #955A89;
  color: #fff;
  cursor: pointer;
}

.tag-item-grey {
  background: rgba(44, 45, 51, 0.05);
}

.tag-item-white {
  background: #fff;
}

// .tags {
//   height: 73px;
//   margin-bottom: 10px;
//   align-content: start;
//   overflow: hidden;
// }
