<h3 fxLayoutAlign="center">Product Tags</h3>
<div class="product-tags" fxLayout="row wrap" fxLayoutAlign="center">
  <span *ngFor="let tag of tags" class="tag-item tag-item-grey" (click)="getByProductTagName(tag)">{{ tag }}</span>
</div>
