<mca-admin-table-filter [formGroup]="formGroupDir.form">
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select id="order-admin-status-select" matSelect formControlName="status">
      <mat-option *ngFor="let status of orderStatus" value="{{status.id}}"
        style="text-transform: capitalize;">{{status.label}}</mat-option>
      <mat-option value="{{'all'}}">{{'All'}}</mat-option>
    </mat-select>
  </mat-form-field>
</mca-admin-table-filter>
