<mat-card class="category-feature-item" fxLayout="column" fxFill fxFlexAlign="stretch" id="product-card-{{product.slug}}">
  <mat-card-header fxFlex="10%">
    <mca-product-card-header [product]="product" fxFlex="100%" fxFlexAlign="center"></mca-product-card-header>
  </mat-card-header>
  <mat-card-content (click)="getProductView(product)" fxFlex="80%" fxLayout="column" fxLayoutAlign="center center">
    <img *ngIf="mainImg.loadEmitter | async" src="/assets/images/placeholder-image.png" alt="">
    <a (click)="getProductView(product)" [routerLink]="'/product/' + product.slug" >
      <img style="width: 100%;" src="{{catalog_img | cdn}}"  
      [ngClass]="{'product-img': true}" loading="lazy" [hidden]="mainImg.loadEmitter | async"
      #mainImg="mcaFadeInLoad" mcaFadeInLoad alt="{{altText}}">
    </a>
  </mat-card-content>
  <mat-card-footer class="product-title">
    <a  [routerLink]="'/product/' + product.slug" (click)="getProductView(product)">
      <div>
        <mca-product-rating [product]="product"></mca-product-rating>
        <div>
          {{product.title}}
        </div>
      </div>
    </a>
    <div class="sale" *ngIf="product.sale">
      -{{product.sale.discount}}
    </div>
  </mat-card-footer>
</mat-card>

