.category-feature-item {
  background: transparent;
}

mca-product-card-header {
  margin-bottom: 5px;
}

.sale {
  color: red;
  font-weight: 600;
  font-size: larger;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

a {
  display: contents;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.product-title {
  margin-left: 8px;
  padding-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  text-transform: uppercase;
  color: #2C2D33;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-card-content {
  cursor: pointer;
}
