<div fxLayout="row wrap"  fxLayoutAlign="center" >
  <mca-product-card *ngFor="let product of products; let index=index" fxFlexAlign="stretch"
    fxFlex.xs="50%"
    fxFlex.sm="50%"
    fxFlex.md="{{md}}%"
    fxFlex.lg="{{md}}%"
    fxFlex.xl="{{md}}%"
    [product]="product"
    class="product-card"
    (on-route)="onProductRoute.emit($event)"
  ></mca-product-card>
</div>
