<div class="xx-large-font">Shipping Address</div>
<div [formGroup]="addressFormGroup">
  <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10%">
    <mat-form-field fxFlex="35%" >
      <mat-label>First Name</mat-label>
      <input placeholder="First Name" matInput formControlName="first-name">
    </mat-form-field>
    <mat-form-field fxFlex="35%">
      <mat-label>Last Name</mat-label>
      <input placeholder="Last Name" matInput formControlName="last-name">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="50%">
      <mat-label>Phone</mat-label>
      <input placeholder="Phone Number" matInput formControlName="phone">
    </mat-form-field>
  </div>
  <div fxLayout="row" >
    <mat-form-field fxFlex="50%">
      <mat-label>eMail</mat-label>
      <input placeholder="eMail" matInput formControlName="email">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="80%">
      <mat-label>Street</mat-label>
      <input placeholder="Street" matInput formControlName="address1">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="80%">
      <mat-label></mat-label>
      <input matInput formControlName="address2">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="50%">
      <mat-label>City</mat-label>
      <input placeholder="City" matInput formControlName="city">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field  fxFlex="50%">
      <mat-label>State</mat-label>
      <input placeholder="State" matInput formControlName="state">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field fxFlex="50%">
      <mat-label>zipcode</mat-label>
      <input placeholder="zipcode" matInput formControlName="zipcode">
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country_code">
        <mat-option *ngFor="let country of MAJOR_COUNTRIES" [value]="country.country_code">{{country.country}}</mat-option>
        <mat-option *ngFor="let country of COUNTRIES" [value]="country.country_code">{{country.country}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
