<div fxLayout="row" *ngIf="productRating.length > 0" class="mb:2@sm" style="color: goldenrod;">
  <fa-icon *ngFor="let rating of productRating" [icon]="faStar"></fa-icon>
  <span class="ml:2@sm">({{product.rating_num}})</span>
</div>
