<table mat-table [dataSource]="products" class="mat-elevation-z8 etsy-product-table">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef class="product-header-checbox">
      <input type="checkbox" [(ngModel)]="isAllChecked" />
    </th>
    <td mat-cell *matCellDef="let element" class="product-item-checbox">
      <input type="checkbox" [ngModel]="isAllChecked" />
    </td>

  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Title</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <mca-etsy-item-title [product]='element'></mca-etsy-item-title>
    </td>

  </ng-container>

  <ng-container matColumnDef="sku">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">SKU</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">{{element.SKU}}</div>
    </td>

  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Status</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">status</div>
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
