.etsy-product-table {
  padding: 20px;
  width: 100%;
}

.product-header-checbox, .product-item-checbox {
  padding-left: 2px !important;
  padding-right: 20px;
}

// th.mat-header-cell:first-of-type {
//   padding-left: 2px;
// }
