<div fxLayout="row wrap" [formGroup]="formGroupDir.form">
  <mat-form-field class="search-filter-input mr:2@xs ml:2@xs" >
    <mat-label>Search</mat-label>
    <input placeholder="Search..." matInput formControlName="search">
  </mat-form-field>
  <ng-content></ng-content>
</div>
