<section id="sales">
  <mca-sales [on-sale]="onSale"></mca-sales>
</section>
<br>
<br>
<section id="best-sellers">
  <mca-top-rated></mca-top-rated>
</section>
<br>
<br>
<section id="categories-feature">
  <h1 style="text-align: center; font-size: xx-large; text-decoration: underline;"><i>Categories</i></h1>
  <mca-categories-feature (load)="loaded = true"></mca-categories-feature>
</section>

