<div class="comments-container">
  <hr>
  <mca-comment-form
    [allUserComments]="allUserComments"
    [productId]="productId"
  ></mca-comment-form>
  <mca-user-comments
    [productId]="productId"
  ></mca-user-comments>
</div>
