<div *ngIf="cartItems?.length > 0; else emptyCart"
  fxLayout="column" fxLayoutAlign="center space-around">

  <div class="xx-large-font">Cart Contents</div>
  <div ngClass.lt-md="full-mini-cart" ngClass.gt-xs="half-mini-cart">
    <mca-mini-cart [cart-items]="cartItems" #miniCart></mca-mini-cart>
  </div>

  <mca-discount-code class="mt:2@sm mb:2@sm" 
    [disable]="checkout.loading$ | async" #couponForm></mca-discount-code>
  <hr>
  <mca-address-form (country-change)="shippingForm.countryCode = $event"
    [disable]="checkout.loading$ | async" #addressForm></mca-address-form>
  <mca-shipping-form class="mb:2@sm" #shippingForm [disable]="checkout.loading$ | async"></mca-shipping-form>
  <hr>
  
  <mca-price [hidden]="!shippingForm.hasItems()" 
    [font-size]="'xx-large'" [disabled]="checkout.loading$ | async"
    [label]="'Shipping:'" [price]="shippingForm.cost$ | async"></mca-price>

  <mca-payment-total [shipping-cost]="shippingForm.cost$ | async" 
    [item-cost]="miniCart.cartService.price$ | async" #mcaTotal></mca-payment-total>


  <mca-paypal-button
    [disable]="checkout.loading$ | async" [total]="mcaTotal.total.total"
    [valid]="addressForm.valid" (click)="addressForm.onSubmit()"
    [address]="addressForm.value" (payment-approved)="postOrder($event, addressForm.value,
    cartService.coupon, shippingForm.getShippingItem())"></mca-paypal-button>
  <div *ngIf="!addressForm.valid && addressForm.submitted" style="color: red;" class="mt:2@sm">Some fields are missing</div>

  <div>
    <button *ngIf="development" (click)="postOrder({}, addressForm.value,
      cartService.coupon, shippingForm.getShippingItem())">Post Order</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" *ngIf="orderService.loading$ | async">
    <h3 class="mr:2@sm">Thank you! Redirecting...</h3>
    <fa-icon [icon]="faSpinner" [spin]="true" [size]="'2x'"></fa-icon>
  </div>
</div>

<ng-template #emptyCart>
  <mca-empty-cart></mca-empty-cart>
</ng-template>
