<div class="spinner" *ngIf="mainImg.loadEmitter | async">
    <mat-progress-spinner [strokeWidth]="5"
        mode="indeterminate"></mat-progress-spinner>
</div>

<div [hidden]="mainImg.loadEmitter | async">
    <img mat-card-image
    [src]="src | cdn"
        (click)="clickEmitter.emit();"
        class="product-img" #mainImg="mcaFadeInLoad" [mcaFadeInLoad]="src" alt="{{alt}}">
</div>