
<div *ngIf="lg; else mobile" class="gt-sm-mca">
  <header id="site-header">
    <mca-header class="bar header-bar"></mca-header>
  </header>
  <main *ngIf="!routing else loading" class="container auto content">
    <router-outlet></router-outlet>
  </main>
</div>

<ng-template #mobile>
  <div class="sm-mca">
    <header id="mobile-site-header">
      <mca-mobile-header class="bar mobile-bar header-bar"></mca-mobile-header>
    </header>
    <main *ngIf="!routing else loading" class="content">
      <router-outlet></router-outlet>
    </main>
    <footer id="mobile-site-footer">
      <mca-mobile-footer class="bar mobile-bar footer-bar"></mca-mobile-footer>
    </footer>
  </div>
</ng-template>

<ng-template #loading>
  <mca-loading-animation></mca-loading-animation>
</ng-template>
