@import "src/styles/header_vars";

.bar{
  position: fixed;
  display: block;
  z-index: 1000;
  width: 100%;
  height: $header_height;
  max-height: $header_height;
  overflow-y: hidden;
}

.bar.mobile-bar {
  height: $mobile_header_height;
  max-height: $mobile_header_height;
}

.header-bar{
  top: 0;
}

.bar.mobile-bar.footer-bar{
  bottom: 0;
  height: $footer_height;
  max-height: $footer_height;
}

.gt-sm-mca{
  padding-top: $header_height;
}

.sm-mca {
  padding-top: $mobile_header_height;
}

.content {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: $footer_height;
}

@media (max-width: 600px) {
  .content {
    padding-right: 2%;
    padding-left: 2%;
  }
}




