@import "src/styles/header_vars";
@import "src/styles/breadcrumbs_vars";


.catalog-header{
  display: block;
  position: sticky;
  // height: $breadcrumbs_height;
  z-index: 1000;
  background-color: white;
  width: 100%;
  color: black;
  opacity: 0.7;
}

.more-products-icon{
  text-align: center;
  cursor: pointer;
  color: #333;
}

// mca-catalog-page {
//   display: block;
//   padding-top: $breadcrumbs_height;
// }
