<ng-container *ngIf="products.length > 0 else noResults">
  <mca-catalog-header class="catalog-header"></mca-catalog-header>
  <mca-catalog-page id="catalog-page-{{index + 1}}" *ngFor="let productArray of products; let index=index" [products]="productArray" [page-num]="index+1" [row-size]="rowSize"></mca-catalog-page>
  <fa-icon fxLayoutAlign="center" *ngIf="!allElementsLoaded" [icon]="faAngleDown" [size]="'2x'" class="more-products-icon mt:4@xs" (click)="showMoreProducts()"></fa-icon>
</ng-container>

<ng-template #noResults>
  <mca-no-results></mca-no-results>
</ng-template>
