<div fxLayout="row">
  <mca-cart-item-title fxFlex="60%" fxFlex.xs="100%" [product]="cartItem.product" [cart-item]="cartItem"></mca-cart-item-title>
  <span fxFlex="15%" fxLayoutAlign="start center" class="x-large-font">X {{cartItem.quantity}}</span>
  <div fxLayout="column" fxLayoutAlign="center start">
    <mca-price [price]="cartItem.price"></mca-price>
  </div>
</div>

