<div class="gallery-images-container" fxLayout="row" fxLayoutAlign="center stretch">
  <mat-card >
    <mat-card-content >
      <mca-main-image [image]="mainImage" class="product-img-container"
        (image-click)="openLargeImgModal(mainImage)"></mca-main-image>
      </mat-card-content>
    <mat-card-footer>
      <div class="product-images">
        <ul fxLayout="row wrap" fxLayoutAlign="start">
          <li *ngFor="let img of galleryImages">
            <img src="{{ img.sizes.shop_thumbnail | cdn}}" (click)="changeImg = img"
             mcaFadeInLoad alt="{{altText}}"/>
          </li>
        </ul>
      </div>
    </mat-card-footer>

  </mat-card>
</div>
