.product-img {
  cursor: pointer;
}

.product-img-container {
  min-width: 30vw;
  min-height: 30vh;
  display: flex;
}

.gallery-images-container {
  .product-images {
    ul {
      list-style-type: none;
      padding-left: 0px;
      margin: 25px auto auto -13px;
      li {
        margin: auto 20px 25px 20px;
        img {
          width: 46.25px;
          height: 46.25px;
          opacity: 0.5;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
