<ng-container *ngFor="let starNum of stars">
  <ng-container *ngIf="rating < starNum; else elseBlock">
    <mca-star (click)="onClick(starNum, $event)"></mca-star>
  </ng-container>
  <ng-template #elseBlock>
    <mca-starfill (click)="onClick(starNum, $event)"></mca-starfill>
  </ng-template>
</ng-container>
