<form *ngIf="hasItems()">
  <div class="xx-large-font mb:3@sm">Choose Shipping Option</div>
  <mat-radio-group fxLayout="column"
    class="shipping-radio-group" [formControl]="shippingFormControl">
    <mat-radio-button class="shipping-radio-button x-large-font mb:2@sm" *ngFor="let shippingItem of _shippingItems" [value]="shippingItem.id">
      <b>{{shippingItem.shipping_method}}</b> - {{shippingItem.shipping_method_description}}
    </mat-radio-button>
  </mat-radio-group>
</form>

