
// .mca-category-feature-bg {
//   // display: block;
//   // background-color: rgba(44, 45, 51, 0.05);
// }

@media (max-width: 1285px) {
  .categories-tags {
    margin-right: 15px;
    margin-left: 15px;
  }
}

