<div class="mca-category-feature-bg">
  <div *ngFor="let category of categories" [ngClass]="['mb:4@xs', 'mt:4@xs']" >
    <mca-category-feature [category]="category" (load)="categoryLoaded()"></mca-category-feature>
    <br>
  </div>
</div>
