<div *ngIf="order" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
  <div fxFlex="50%" fxLayout="column">
    <h1>Order #{{order['short-id']}}</h1>
    <div  fxLayout="row" >
      <mca-mini-cart fxFlex.gt-sm="90%" [cart-items]="cartItems" #miniCart></mca-mini-cart>
    </div>
    <br>
    <div class="x-large-font">
      <b>Order Status: <span style="text-transform: capitalize;">{{order.status}}</span></b>
    </div>
    <br>
    <div class="x-large-font">
      <b>Order Tracking: {{order.shipping.tracking_number ?? "N/A"}}</b>
    </div>
  </div>
  <div fxFlex="40%" fxLayout="column">
    <h2>Shipping Details</h2>
      <div class="x-large-font">
        <div>{{order.address['first-name'] ?? ''}} {{order.address['last-name'] ?? ''}}</div>
        <div>{{order.address.address1 ?? ''}}</div>
        <div>{{order.address.address2 ?? ''}}</div>
        <div>{{order.address.city ?? ''}}</div>
        <div>{{order.address.state ?? ''}}</div>
        <div>{{order.address.zipcode ?? ''}}</div>
        <div>{{order.address.country ?? ''}}</div>
        <div>{{order.address.phone ?? ''}}</div>
        <div>{{order.address.email ?? ''}}</div>
      </div>
      <br>
        <div class="xx-large-font">Shipping Method: {{order.shipping.shipping_method}}</div>
        <br>
        <mca-price [label]="'Shipping Cost:'" 
          [font-size]="'xx-large'" [price]="order.shipping.price"></mca-price>
          <br>
        <mca-price [label]="'Total: '" [price]="price" [font-size]="'xx-large'"></mca-price>
    </div>
  </div>


