.view-all,
.category-name {
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 20px;
}

.category-name,
.view-all-text {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 22px;
    line-height: 19px;
    color: #2C2D33;
}

.category-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 6px;
}

.view-all {
    margin-right: 8px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.view-all-text {
    margin-right: 6px;
    font-weight: normal;
}

.view-all-text span {
    text-transform: capitalize;
}

.category-feature-row {
    display: block;
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;

    .product-card:nth-child(-n+3) {
        min-width: 33%;
    }

    .product-card:nth-child(1n+4) {
        max-width: 20%;
    }
}

.tag-list-category-row::ng-deep {
  .tags {
    .tag-item {
      background: #fff;

      &:hover,
      &:focus,
      &:active {
        background-color: #955A89;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}


