<div class="category-feature-row">
  <header id="{{category.slug}}-category-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="category-name">{{category.name}}</div>
    <button class="view-all" (click)="getAllProducts(category.slug)" fxLayout="row" fxLayoutAlign="center">
      <div class="view-all-text"><span>{{category.name}}</span></div>
      <img src="assets/icons/arrow-right.svg"/>
    </button>
  </header>
  <section id="{{category.slug}}-category-feature">
    <mca-product-row [products]="products.slice(0,PRODUCT_NUM/2)"></mca-product-row>
    <mca-product-row [products]="products.slice(PRODUCT_NUM/2,PRODUCT_NUM)"></mca-product-row>
  </section>
</div>
