<div matBadge="{{items.length}}" [matBadgeHidden]="items.length == 0" class="cart-icon-container">
  <fa-icon [icon]='faShoppingCart' [size]="'lg'" class="shopping-cart-icon" [ngStyle]="{color: color}"
    (click)="routeToShoppingCart()"></fa-icon>
</div>

