<div class="full-img-container">
  <div
    class="full-img-content"
    fxLayout="row"
    [hidden]="isLoading"
    fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-progress-spinner style="position: fixed;" *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
      <div>
        <img
          mcaFadeInLoad
          (load)="imgLoaded()"
          [src]="imageData?.dialogImg | cdn"
          class="dialog-img"

          style="max-width: 100%; max-height: 100%;"
        />
      </div>
    </div>
  </div>
</div>
