.full-img-container {
  .mat-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  .full-img-content {
    position: relative;

    .dialog-img {
      height: auto;
      width: auto;
    }

    .dialog-desc-content {
      max-width: 420px;
      margin: 0 auto;
      padding: 10px;
    }
  }
}

.transparent {
  opacity: 0.2;
}

.mat-spinner {
  ::ng-deep circle {
    stroke: #6C3483;
  }
}

::ng-deep .mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
