<div [ngStyle]="{'font-size': fontSize}" [ngClass]="{'disabled': disabled}">
    <span *ngIf="label" class="mr:2@xs">{{label}}</span>
    <span *ngIf="hasDiscount()" class="discount mr:2@xs">${{subtotal}}</span>
    <span >${{total}}</span>
</div>
<small class="price-label">{{description}}</small>
