
<div class="header mobile-header" fxLayout="row" fxLayoutAlign="space-between center">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">
    <h1 fxHide.xs class="mobile-header-text">MULTI CANVAS ART</h1>
    <h1 fxHide fxShow.xs class="mobile-header-text">MCA</h1>
  </a>
  <mca-header-icons></mca-header-icons>
</div>

