@import "src/styles/header";
@import "src/styles/search_vars";

.bars-icon{
  color: $header_text_color;
}

a {
  color: unset;
  text-decoration: none;
}

mca-search{
  display: block;
  width: $search_max_width;
  max-width: 80%;
}
