<header fxLayout="row wrap" fxLayoutAlign="center">
  <embed  src="assets/icons/mca_logo.svg" alt="" width="250px" height="300px">
</header>

<form [formGroup]="formGroup" fxLayout="column" fxLayoutAlign="center">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-form-field fxFlex="30%">
      <mat-label>User Name</mat-label>
      <input placeholder="User Name" matInput formControlName="username">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-form-field fxFlex="30%" >
      <mat-label>Password</mat-label>
      <input type="password" placeholder="Password" matInput formControlName="password">
    </mat-form-field>
  </div>
  <button type="submit" (click)="login()">Submit</button>
</form>
