<mca-product-row (on-route)="onProductRoute($event)" [products]="getProductsByRow(1)" [row-size]="rowSize"></mca-product-row>
<mca-product-row (on-route)="onProductRoute($event)" [products]="getProductsByRow(2)" [row-size]="rowSize"></mca-product-row>
<mca-product-row (on-route)="onProductRoute($event)" [products]="getProductsByRow(3)" [row-size]="rowSize"></mca-product-row>
