.rating {
  margin-left: -5px;
}

.is-invalid,
.error {
  height: 34px;
  background-color: #fae2e5;
  border: 0.5px solid #b14464;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
  margin-top: 14px;
  color: #b14464;
  p {
    padding: 0;
    margin: 0;
  }
}

.comment-area {
  border: 1px solid #566573;
  max-width: 100%;
  background-color: #D5D8DC;
  padding: 15px 0 0 15px;
  margin-bottom: 20px;
  font-size: 17px;
}

.load-file {
  margin-top: 5px;
}

input[type="file"] {
  display: none;
}

.remove-file-btn,
.custom-file-upload,
.submit-btn {
  border: none;
}

.remove-file-btn {
  margin-left: 8px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 19px;
  cursor: pointer;
  background: #2d5070;
  color: #fff;
  border-radius: 14px;
  font-size: 16px;
}

.custom-file-upload.disabled {
  background: #b4bcc5;
}

.remove-file {
  margin-top: 10px;
}

.file-name {
  margin-right: 15px;
  margin-top: 14px;
}

.submit-btn {
  width: 260px;
  height: 47px;
  border-radius: 37px;
  margin: 26px auto;
  font-size: 22px;
  background: #2d5070;
  color: #fff;
}

.mat-button-disabled {
  background: #b4bcc5;
}

.submit-btn,
.remove-file-btn,
.custom-file-upload,
.comment-area {
  outline: none;
  cursor: pointer;
}

.remove-file-btn {
  background-color: transparent;
}

.remove-icon {
  height: 14px;
  margin-top: 4px;
}
