<form [formGroup]="commentForm" fxLayout="column" #form="ngForm">
  <h4>Your rating:</h4>
  <mca-rating (setRating)="setRating($event)" [resetRating]="resetRating" class="rating" [disabled]="loading"></mca-rating>
  <div *ngIf="form.submitted && formInfoField.rating.invalid" class="error" fxLayout="row" fxLayoutAlign="center center">
    <p>Error: Rating is required</p>
  </div>
  <mat-form-field>
    <mat-label>Your Name</mat-label>
    <input name="" formControlName="name" type="text" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Your Comment</mat-label>
    <textarea name="" formControlName="comment" cols="30" rows="10" matInput></textarea>
  </mat-form-field>
  <div class="load-file">
    <label [ngClass]="{'custom-file-upload': true, 'disabled': loading}">
      <input type="file" multiple (change)="fileLoaded($event)" #inputFile [disabled]="loading">
      Upload File
    </label>
    <div *ngIf="files" class="remove-file">
      <ng-container *ngFor="let file of filesArray; let index = index;">
        <div class="file-name" fxLayout="row" fxLayoutAlign="start center">
          <div>{{file?.name}}</div>
          <button (click)="removeFile(index)" class="remove-file-btn" [disabled]="loading">
            <img [src]="'assets/icons/remove-icon.svg'" class="remove-icon"/>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  <button mat-button (click)="form.valid ? submit() : ''" class="submit-btn" type="submit" [disabled]="loading">Submit</button>
  <mat-card *ngIf="commentSubmitted" style="color: green; font-weight: 600;">Comment submitted for approval</mat-card>
</form>
