@import "src/styles/search_vars";

mat-form-field {
  width: 100%;
}

.search-img {
  max-width: 60px;
  max-height: 50px;
  margin: 17px 15px 17px 10px;
}

.search-icon{
  margin-right: 10px;
  color: $search_text_color;
  cursor: pointer;
}

:host::ng-deep label.mat-form-field-label{
  color: $search_text_color !important;
}

:host::ng-deep .mat-form-field-underline{
  background-color: $search_text_color !important;
}

:host::ng-deep .mat-form-field-ripple {
  background-color: $search_text_color !important;
}
