<form [formGroup]="searchForm" class="search-wrapper" (submit)="searchAll()">
    <div fxLayout="row" fxLayoutAlign="start center">
      <fa-icon [icon]='faSearch' [size]="'lg'" class="search-icon" (click)="searchAll()"></fa-icon>
      <mat-form-field >
        <mat-label>
          Search...
        </mat-label>
        <input
          class="search-input"
          matInput
          formControlName="search"
          [matAutocomplete]="auto"
          type="text"
        />
      </mat-form-field>
    </div>
  <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let product of products" [value]="product.title">
        <div fxLayout="row" fxLayoutAlign="start center" class="option-inner" (click)="getProductView(product)">
          <img src="{{ product?.catalog_img }}" class="search-img"/>
          <div>{{ product.title }}</div>
        </div>
      </mat-option>
  </mat-autocomplete>
</form>
