@import "src/styles/breadcrumbs_vars";

.breadcrumb {
  display: inline-block;
  padding: unset;
  min-width: unset;
  cursor: default;
  font-size: $breadcrumbs_font_size;
  line-height: unset;
}
.breadcrumb:last-child::after {
  display: none;
}
.breadcrumb:after {
  content: '>';
  vertical-align: top;
  display: inline-block;
  margin: 0 10px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.mat-card{
  padding: $breadcrumbs_padding;
}
