


hr {
  margin-top: 13px;
  border: 1px solid rgba(44, 45, 51, 0.1);
}

.cart-title,
.empty-cart-container h2 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #2C2D33;
  margin-bottom: 16px;
  font-style: normal;
}

.cart-header{
  color: gray;
}
