<div *ngIf="cartItems?.length > 0; else emptyCart">
  <h2 class="cart-title">Cart</h2>
  <div fxLayout="row">
    <div fxFlex="{{headerWidth.product}}" class="cart-header">Product</div>
    <div fxFlex="{{headerWidth.price}}" class="cart-header">Price</div>
    <div fxFlex="{{headerWidth.quantity}}" class="cart-header">QTY</div>
    <div fxFlex="{{headerWidth.total}}" class="cart-header">Total</div>
  </div>
  <hr>
  <div  *ngFor="let item of cartItems" style="margin-top: 20px;" >
    <mca-cart-item-row [cart-item]="item" [product]="item.product" 
      [header-width]="headerWidth" (update)="reloadCart()"></mca-cart-item-row>
  </div>
  <div fxLayout="row" fxLayoutAlign="end">
    <div>
      <mca-price class="mt:3@xs" [price]="cartService.price$ | async" 
        [font-size]="'x-large'" [label]="'Total:'"></mca-price>
      <hr>
      <mca-checkout-button></mca-checkout-button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <mca-empty-cart></mca-empty-cart>
</ng-template>
