<div fxLayout="row wrap">
  <div fxFlex="{{headerWidth.product}}" fxFlex.xs="100%">
    <mca-cart-item-title [product]="_product" [cart-item]="_cartItem"></mca-cart-item-title>
  </div>
  <div fxFlex="{{headerWidth.price}}" fxLayoutAlign="center start" fxFlex.xs="20%" fxLayout="column">
    <div>
      ${{modelItem.price}}
    </div>
  </div>
  <div fxFlex="{{headerWidth.quantity}}" fxLayoutAlign="start center" fxFlex.xs="40%">
    <mca-cart-quantity [quantity]="_cartItem.quantity" (add-to-cart)="addQuantity()" (subtract-from-cart)="subtractQuantity()"
      [disabled]="cartService.loading$ | async"></mca-cart-quantity>
  </div>
  <div fxFlex="{{headerWidth.total}}" fxLayoutAlign="start center">
    <mca-price [price]="cartItem.price"></mca-price>
  </div>
  <div fxFlex="{{headerWidth.close}}" fxLayoutAlign="start center" fxFlex.xs="20%">
    <button mat-icon-button  class="plus" (click)="deleteItem()" [disabled]="cartService.loading$ | async">
      <fa-icon [icon]="faTimes" ></fa-icon>
    </button>
  </div>
</div>
