<div fxLayout="row" class="icons-container">
  <fa-icon [icon]='faInfo' [size]="'lg'" class="mr:3@xs" (click)="routeTo('/about')"></fa-icon>
  <fa-icon [icon]='faEnvelope' [size]="'lg'" class="mr:3@xs" (click)="routeTo('/contact')"></fa-icon>
  <mca-cart-icon [color]="'white'" class="mr:3@xs"></mca-cart-icon>
  <!-- <fa-icon [icon]='faUser' [size]="'lg'" (click)="routeTo('/admin')"></fa-icon> -->
</div>
