<!-- <table mat-table [dataSource]="orders" class="mat-elevation-z8 etsy-product-table">


  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Status</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">
      <span>
        {{element['title']}}
      </span>
    </div>
    </td>

  </ng-container>

  <ng-container matColumnDef="date-range">
    <th mat-header-cell *matHeaderCellDef>
      <div class="x-large-font">Date Range</div>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="large-font">{{element['createdAt'] | date}}</div>
    </td>

  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mb:3@sm"></tr>
</table> -->
