<div fxLayout.lt-md="column" fxLayout.gt-sm="row" class="row-layout" 
    fxLayoutAlign.gt-sm="space-between flex-start" fxLayoutAlign.lt-md="space-between center">
    <mca-column-layout>
        <ng-content select="[left]"></ng-content>
    </mca-column-layout>
    <mca-column-layout>
        <ng-content select="[right]"></ng-content>
    </mca-column-layout>
</div>