
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
@import '~sass-spacing/index.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mca-primary: mat-palette($mat-indigo);
$mca-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mca-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mca-theme: mat-light-theme((
  color: (
    primary: $mca-primary,
    accent: $mca-accent,
    warn: $mca-warn,
  )
));

.btn{
  width: 271px;
  height: 48px;
  border-radius: 30px !important;
}

.btn-sm{
  width: fit-content;
  min-width: 100px;
  height: fit-content;
  min-height: 32px;
  align-self: center;
  border-radius: 10px !important;
}

.btn-primary{
  background: #955A89 !important;
  color: #FFFFFF !important;
}

.btn.mat-button-disabled {
  background: #c292b8 !important;
  color: #d8cbcb !important;;

}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mca-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: block;
  max-width: 1264px;
}

.mca-fade-in{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.mca-fade-in.mca-loaded{
  opacity: 1;
}

.auto {
  margin: auto;
}

.large-font{
  font-size: large;
}

.x-large-font{
  font-size: x-large;
}

.xx-large-font{
  font-size: xx-large;
}

.tags::-webkit-scrollbar {
  width: 0.6em;
  height: 10px;
}


@import "src/styles/header_vars";


.gt-sm-mca .catalog-header {
  top: $header_height;
}

.sm-mca .catalog-header {
  top: $mobile_header_height;
}

.alert-danger {
  background-color: #f44336; /* Red */
}
.alert-success {
  background-color: #7dff93;
}
.alert{
  padding: 10px;
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;
}

table {
  width: 100%;
}

.mat-row:nth-child(even){
  background-color: white;
}

.mat-row:nth-child(odd){
  background-color: rgba(187, 187, 243, 0.5);
}


