<div fxLayout="row" class="product-item-container">
  <div class="product-item-image">
    <img src="{{thumbnail}}" alt="" height="50" >
  </div >
  <div style="align-self: center">
    <div class="large-font" style="margin-bottom: 2px;">
      {{title}}
    </div>
  </div>
</div>
