<div class="mb:2@sm" fxLayout='row' fxLayoutAlign="center">
  <fa-icon class="star" *ngFor="let rating of stars" [icon]="faStar" [size]="'2x'"></fa-icon>
</div>
<div fxLayout='row' fxLayoutAlign="center"  class="large-font">
  <i>{{subtitle}}</i>
</div>
