<div class="options-container" fxLayout="column" [formGroup]="formGroup">
  <div class="view-option-title">Framing</div>
  <mat-form-field appearance="outline" class="product-view-option">
    <mat-label>Choose an option</mat-label>
    <mat-select formControlName="framing">
      <mat-option [value]="null" [disabled]="true">Choose an option</mat-option>
      <mat-option *ngFor="let frame of framing" [value]="frame.id">{{frame.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="view-option-title">Size</div>
  <mat-form-field appearance="outline" class="product-view-option">
    <mat-label>Choose an option</mat-label>
    <mat-select formControlName="size">
      <mat-option [value]="null" [disabled]="true">Choose an option</mat-option>
      <mat-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="view-option-title">Template</div>
  <mat-form-field appearance="outline" class="product-view-option">
    <mat-label>Choose an option</mat-label>
    <mat-select formControlName="template">
      <mat-option [value]="null" [disabled]="true">Choose an option</mat-option>
      <mat-option *ngFor="let template of templates" [value]="template.id">{{template.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
